<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body onload="fetchData(0, 10)">
  <h1>Welcome to
    <%= header %>
      <a href='/auth/logout' class="logout">Logout</a>
  </h1>
  <span>  
    <button onclick="prev()" class="but">Prev</button>
    <button onclick="next()" class="but">Next</button>
    <p>
      <span id = "searchInfo"></span>
      <span> of 1800</span>
    </p>
    
  </span>

  <div id="fdata"></div>
</body>
<script>
  let start = 0;
  let length = 10;
  function fetchData(start, length) {
    let searchInfo = document.getElementById('searchInfo');
    searchInfo.innerHTML = "Showing " + (start + 1) + " to " + (start + length)
    let xhttp = new XMLHttpRequest();
    let query = "?start=" + start + "&length=" + length;
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        onDataReceived(JSON.parse(this.response));
      }
    };
    xhttp.open("GET", "/data" + query, true);
    xhttp.send();
  }

  function onDataReceived(data) {
    data = data['data'];
    let body = document.getElementsByTagName("body")[0];
    let fdataDiv = document.getElementById('fdata');

    while (fdataDiv.hasChildNodes()) {
      fdataDiv.removeChild(fdataDiv.lastChild);
    }

    for (let i = 0; i < data.length; i++) {
      let dataCard = document.createElement("div");
      dataCard.className = 'data-card'
      let num = document.createElement('p');
      num.className = 'num-card';
      num.innerHTML = " " + (parseInt(start) + 1 + parseInt(i));
      dataCard.appendChild(num);
      for (key in data[i]) {
        if (key == 'id' || key === 'oid') {
          continue;
        }
        let pE = document.createElement('p');
        pE.innerHTML = key + ': ' + data[i][key];
        dataCard.appendChild(pE);
      }
      fdataDiv.appendChild(dataCard);
    }
  }

  function next() {
    start = start + length;
    fetchData(start, length);
  }

  function prev() {
    if (start == 0) {
      alert('No more values');
      return;
    }
    start = start - length;
    fetchData(start, length);
  }

</script>

</html>