<!DOCTYPE html>
<html>

<head>
    <title>Signup</title>
        <meta name="viewport" content="width=device-width" />
    <link rel='stylesheet' href='/stylesheets/signup.css' />
    <script src="/javascripts/md5.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="content">
        <h1>Signup</h1>
        <form action="/auth/signup" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" onblur="">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password">
            </div>

            <div class="form-group">
                <label><input type="checkbox" value="admin" id = "role" name = "role"> I am admin</label>
            </div>
            <button type="" class="btn btn-primary">Signup</button>
        </form>
        <p>Already registered? <a href="/auth/login">Login</a></p>
        <p id="messageLabel"></p>
    </div>
</body>

<script>
    function convertPassword() {
        document.getElementById('password').value = md5(document.getElementById('password').value);
    }

</script>

</html>