body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

@media screen and (max-width: 600px) {
}

@media screen and (min-width: 600px) {
  .content {
    width: 40%;
    margin: auto;    
  }
}