body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.data-card{
  margin: 3%;
  padding: 2% 2% 2% 10%;
  background-color:brown;
  color: white;
}
.num-card{
  width: 20px;
  padding: auto;
  float: right;
}
.logout{
  float: right
}
.but{
  width: 80px;
  height: 20px;
}